{#/*======================================================================
|| #################################################################### ||
|| #                This file is part of SafeGuard Pro                # ||
|| # ---------------------------------------------------------------- # ||
|| #     Copyright © 2014 - 2015 Gewora.net. All Rights Reserved.     # ||
|| # This file may not be redistributed in whole or significant part  # ||
|| #                                                                  # ||
|| #            For more license information contact Gewora           # ||
|| #            and/or read the envato license details at:            # ||
|| #                  http://codecanyon.net/licenses                  # ||
|| # You are NOT allowed to modify/remove this copyright information  # ||
|| #                                                                  # ||
|| #              Any infringement of this copyright will             # ||
|| #               result in legal action by the holder               # ||
|| #                                                                  # ||
|| # ----------     SafeGuard Pro IS NOT FREE SOFTWARE     ---------- # ||
|| # -------------------- http://www.gewora.net --------------------- # ||
|| #################################################################### ||
\*======================================================================*/#}

{# Options #}
{%  set menu = 1 %}

{# Extend the base template#}
{% extends 'base_admin.html.twig' %}

{# The content #}
{% block content %}

    <div class="span12">
        {% if msg %}
            {{ msg.display }}
        {%  endif %}
    </div>

    <div class="span6">
        <div class="widget">
            <div class="widget-header"> <i class="icon-info-sign"></i>
                <h3> System Information</h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>PHP Version</td>
                        <td>
                            <span class="label">{{ system.php_version }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>mySQL Version</td>
                        <td>
                            <span class="label">{{ system.mysql_version }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>System Time</td>
                        <td>
                            <span class="label">{{ system.system_time }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="widget">
            <div class="widget-header"> <i class="icon-calendar"></i>
                <h3> Logging Statistic</h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Time Frame</th>
                        <th>Attacks</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 Day</td>
                            <td>
                                <span class="label">{{ stats.day }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Week</td>
                            <td>
                                <span class="label">{{ stats.week }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Month</td>
                            <td>
                                <span class="label">{{ stats.month }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="widget">
            <div class="widget-header"> <i class="icon-eye-open"></i>
                <h3> Protection Settings</h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mass requests (DDos)</td>
                        <td>
                            {% if config.protection_mass_requests == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Proxies & VPN</td>
                        <td>
                            {% if config.protection_proxies == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>SQL Injections</td>
                        <td>
                            {% if config.protection_sql_injections == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>XSS Attacks</td>
                        <td>
                            {% if config.protection_xss_attacks == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Spammers</td>
                        <td>
                            {% if config.protection_spammers == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="widget">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Logging settings</h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mass requests (DDos)</td>
                        <td>
                            {% if config.log_mass_requests == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Proxies & VPN</td>
                        <td>
                            {% if config.log_proxies == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>SQL Injections</td>
                        <td>
                            {% if config.log_sql_injections == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>XSS Attacks</td>
                        <td>
                            {% if config.log_xss_attacks == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Spammers</td>
                        <td>
                            {% if config.log_spammers == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="widget">
            <div class="widget-header"> <i class="icon-lock"></i>
                <h3> Auto-Ban Settings</h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mass requests (DDos)</td>
                        <td>
                            {% if config.auto_ban_ip_mass_requests == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Proxies & VPN</td>
                        <td>
                            {% if config.auto_ban_ip_proxies == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>SQL Injections</td>
                        <td>
                            {% if config.auto_ban_ip_sql_injections == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>XSS Attacks</td>
                        <td>
                            {% if config.auto_ban_ip_xss_attacks == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Spammers</td>
                        <td>
                            {% if config.auto_ban_ip_spammers == TRUE %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}