{#/*======================================================================
|| #################################################################### ||
|| #                This file is part of SafeGuard Pro                # ||
|| # ---------------------------------------------------------------- # ||
|| #     Copyright © 2014 - 2015 Gewora.net. All Rights Reserved.     # ||
|| # This file may not be redistributed in whole or significant part  # ||
|| #                                                                  # ||
|| #            For more license information contact Gewora           # ||
|| #            and/or read the envato license details at:            # ||
|| #                  http://codecanyon.net/licenses                  # ||
|| # You are NOT allowed to modify/remove this copyright information  # ||
|| #                                                                  # ||
|| #              Any infringement of this copyright will             # ||
|| #               result in legal action by the holder               # ||
|| #                                                                  # ||
|| # ----------     SafeGuard Pro IS NOT FREE SOFTWARE     ---------- # ||
|| # -------------------- http://www.gewora.net --------------------- # ||
|| #################################################################### ||
\*======================================================================*/#}
{# Options #}
{%  set menu = 3 %}

{# Extend the base template#}
{% extends 'base_admin.html.twig' %}


{# The content #}
{% block content %}
    <div class="span12">
        {% if msg %}
            {{ msg.display }}
        {%  endif %}
        <div class="widget">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Proxy/VPN Log</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="tabbable">
                    <form class="form-horizontal" action="settings_logs.php" method="post">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#proxy" data-toggle="tab">Proxy VPN</a></li>
                            <li><a href="#spammer" data-toggle="tab">Spammer</a></li>
                            <li><a href="#mass_request" data-toggle="tab">Mass requests</a></li>
                            <li><a href="#sql_injection" data-toggle="tab">SQL injection</a></li>
                            <li><a href="#xss_attack" data-toggle="tab">XSS attack</a></li>
                        </ul>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active" id="proxy">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label">Redirection URL</label>
                                        <div class="controls">
                                            <input type="text" class="span6" name="redirect_proxys" value="{{ config.redirect_proxys }}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"> Enable logging</label>
                                        <div class="controls">
                                            <label class="checkbox inline">
                                                <input type="hidden" name="log_proxys" value="0">
                                                <input type="checkbox" name="log_proxys" value="1" {% if config.log_proxys == 1 %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="spammer">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label">Redirection URL</label>
                                        <div class="controls">
                                            <input type="text" class="span6" name="redirect_spammers" value="{{ config.redirect_spammers }}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Enable logging</label>
                                        <div class="controls">
                                            <label class="checkbox inline">
                                                <input type="hidden" name="log_spammers" value="0">
                                                <input type="checkbox" name="log_spammers" value="1" {% if config.log_spammers == 1 %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="mass_request">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label">Redirection URL</label>
                                        <div class="controls">
                                            <input type="text" class="span6" name="redirect_mass_requests" value="{{ config.redirect_mass_requests }}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Enable logging</label>
                                        <div class="controls">
                                            <label class="checkbox inline">
                                                <input type="hidden" name="log_mass_requests" value="0">
                                                <input type="checkbox" name="log_mass_requests" value="1" {% if config.log_mass_requests == 1 %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="sql_injection">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label">Redirection URL</label>
                                        <div class="controls">
                                            <input type="text" class="span6" name="redirect_sql_injections" value="{{ config.redirect_sql_injections }}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Enable logging</label>
                                        <div class="controls">
                                            <label class="checkbox inline">
                                                <input type="hidden" name="log_sql_injections" value="0">
                                                <input type="checkbox" name="log_sql_injections" value="1" {% if config.log_sql_injections == 1 %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-actions">
                                        <input type="hidden" name="update">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="xss_attack">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label">Redirection URL</label>
                                        <div class="controls">
                                            <input type="text" class="span6" name="redirect_xss_attacks" value="{{ config.redirect_xss_attacks }}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Enable logging</label>
                                        <div class="controls">
                                            <label class="checkbox inline">
                                                <input type="hidden" name="log_xss_attacks" value="0">
                                                <input type="checkbox" name="log_xss_attacks" value="1" {% if config.log_xss_attacks == 1 %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}